<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agriconnect"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".profileeditactivity"
            android:exported="false" />
        <activity
            android:name=".editprofiles_records"
            android:exported="false" />
        <activity
            android:name=".edtprofiles"
            android:exported="false" />
        <activity
            android:name=".edtprofile"
            android:exported="false" />
        <activity
            android:name=".editcartactivity"
            android:exported="false" />
        <activity
            android:name=".cartActivity"
            android:exported="false" />
        <activity
            android:name=".buypurchaseactivity"
            android:exported="false"
            android:label="@string/title_activity_buypurchaseactivity"
            android:theme="@style/Theme.Agriconnect" />
        <activity
            android:name=".managepurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".edtrequest_records"
            android:exported="false" />
        <activity
            android:name=".edtrequest"
            android:exported="false" />
        <activity
            android:name=".orderstatusActivity"
            android:exported="false" />
        <activity
            android:name=".requestActivity"
            android:exported="false" />
        <activity
            android:name=".purchaseActivity"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>